    <div>
      <input type="checkbox">
      <%
      @priority = "high"
      if @todo_pomodoro_estimate == 2 || @todo_pomodoro_estimate == 3
        @priority = "medium"
      elsif @todo_pomodoro_estimate == 1 || @todo_pomodoro_estimate == 0
        @priority = "low"
      end
      %>
      
      
      <h2 class="<%= @priority%>"><%= params[:id]%>. <%= @todo_description %></h2>
      <span><%= @todo_pomodoro_estimate%> Pomodoros</span>
      <a href="/todo/edit/<%= @todo.id %>" id="edit-todo-button">Edit</a>
      <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>
      <a href="/todo/index.html" class="simple-link">Go back...</a>
    </div>
    