<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'show' %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>
      <img class="company-logo" src="http://ww1.prweb.com/prfiles/2015/08/24/13706165/codenow%20logo%20large.png"></img>
      <%= @title%>
    </h1>

<%= yield %>

</body>
</html>
